#root {
  margin: 0;
}

h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

h1 {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px 30px;
  justify-items: center;
  gap: 30px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

button {
  border: none;
  height: 35px;
  color: black;
  font-weight: 600;
  border-radius: 5px;
}

.filter-btns {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  margin: 0 80px;
}
